<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificación</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Modificación</h1>
    <form action="{{ url_for('add_item') }}" method="POST">
        <div class="form-group">
            <label for="part_number">Part Number:</label>
            <!-- Un input normal, pero con la propiedad list apuntando a un <datalist> -->
            <input 
              type="text" id="part_number" name="part_number" list="part_number_list" class="custom-select" required
            >
            <datalist id="part_number_list">
              <option value="">Seleccionar</option>
              {% for p_number in part_number_list %}
                <option value="{{ p_number }}">
              {% endfor %}
            </datalist>
          </div>
        <div class="form-group">
            <label for="part_name">Part Name:</label>
            <input id="part_name" name="part_name" class="custom-select" required>
            <datalist id="part_name_list">
                <option value="">Seleccionar</option>
                {% for p_name in part_name_list %}
                    <option value="{{ p_name }}">
                {% endfor %}
                </datalist>
        </div>
        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required>
        </div>
        <div class="form-group">
            <label for="justificacion">Justificación:</label>
            <input type="text" id="justificacion" name="justificacion" required>
        </div>
        <div class="form-group">
            <label for="modificado_por">Modificado Por:</label>
            <input type="text" id="modificado_por" name="modificado_por" required>
        </div>
        <div>
            <button type="submit">Guardar</button>
            <a href="{{ url_for('index') }}" class="btn">Cancelar</a>
        </div>
    </form>
    <script>
        const part_name = document.getElementById('part_name');
        const part_number = document.getElementById('part_number');
      
        function toggleSelects() {
          // Si en part_name se ha seleccionado algo distinto a vacío, deshabilita part_number
          if (part_name.value !== "") {
            part_number.disabled = true;
          } else {
            part_number.disabled = false;
          }
          
          // Si en part_number se ha seleccionado algo distinto a vacío, deshabilita part_name
          if (part_number.value !== "") {
            part_name.disabled = true;
          } else {
            part_name.disabled = false;
          }
        }
      
        // Escucha el evento 'change' en ambos select
        part_name.addEventListener('change', toggleSelects);
        part_number.addEventListener('change', toggleSelects);
    </script>
</body>
</html>
