
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Items</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
</body>
    <h1>Listado Items</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Part Number</th>
                    <th>Part Name</th>
                    <th>Fabricante</th>
                    <th>Modelo</th>
                    <th>Rubro</th>
                    <th>Almacén</th>
                    <th>Stock</th>
                    <th>Stock Mínimo</th>
                    <th>Unidad</th>
                    <th>Foto</th>
                    <th>Última Modificación</th>
                    <th>Modificado Por</th>
                    <th>Costo</th>
                    <th>Ubicación</th>
                    <!-- <th>Estado</th> -->
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.part_number }}</td>
                    <td>{{ item.part_name }}</td>
                    <td>{{ item.fabricante }}</td>
                    <td>{{ item.modelo }}</td>
                    <td>{{ item.rubro }}</td>
                    <td>{{ item.almacen }}</td>
                    <td>{{ item.stock }}</td>
                    <td>{{ item.stock_minimo }}</td>
                    <td>{{ item.unidad }}</td>
                    <td>
                        <img src="{{ url_for('static', filename=item.foto) }}" 
                        alt="Foto" 
                        class="thumbnail" 
                        onclick="openModal('{{ url_for('static', filename=item.foto) }}')" /> 
                    </td>
                    <td>{{ item.ultima_modificacion }}</td>
                    <td>{{ item.modificado_por }}</td>
                    <td>{{ item.costo }}</td>
                    <td>{{ item.ubicacion }}</td>
                    <!-- <td>{{ item.estado }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="{{ url_for('descargar_items_csv') }}" class="btn">Descargar</a>
        <a href="{{ url_for('index') }}" class="btn">Volver</a>
    </div>
    <!-- Modal (oculto por defecto) -->
    <div id="myModal" class="modal">
        <!-- Botón de cerrar -->
        <span class="close" onclick="closeModal()">&times;</span>
        <!-- Imagen en grande -->
        <img class="modal-content" id="modalImg">
    </div>
    <!-- Script para abrir y cerrar el modal -->
    <script>
        function openModal(imageUrl) {
          // Muestra el modal
          const modal = document.getElementById('myModal');
          const modalImg = document.getElementById('modalImg');
          modal.style.display = 'flex';
          modalImg.src = imageUrl;
        }
    
        function closeModal() {
          // Oculta el modal
          const modal = document.getElementById('myModal');
          modal.style.display = 'none';
        }
      </script>
</body>