* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

a.btn {
    display: inline-block;
    padding: 1rem;
    background-color: whitesmoke;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}
a.btn:hover {
    background-color: whitesmoke;
}

.form-group {
    display: flex;
    align-items: center;        /* Alinea verticalmente label y input */
    margin-bottom: 10px;        /* Espacio entre cada grupo */
    width: 40rem;
}

.form-group label {
    width: 240px;               /* Ajusta según tu preferencia */
    margin-right: 20px;         /* Espacio entre la etiqueta y el campo */
    text-align: left;          /* Alinea el texto de la etiqueta a la derecha */
}

.form-group input {
    flex: 1;                    /* Permite que el input ocupe el espacio restante */
    padding: 16px;               /* Espacio interno en el input */
    font-size: 1rem;            /* Ajusta el tamaño de la fuente */
    width: 100%;                /* Ajusta el ancho del input */
}
