* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

a.btn {
    display: inline-block;
    padding: 1rem;
    background-color: whitesmoke;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}
a.btn:hover {
    background-color: whitesmoke;
}